# @plugin(@varlock/1password-plugin)
# @initOp(token=$OP_TOKEN, allowAppAuth=forEnv(dev))
# ---

# @type=opServiceAccountToken @sensitive
OP_TOKEN=

# @required @sensitive @type=string
JWT_SECRET=op(op://YourVaultName/JWT/secret)

# @required @sensitive @type=string(startsWith=postgresql://)
DATABASE_URL=op(op://YourVaultName/Database/url)

# @type=port
PORT=3000

# @type=enum(development, staging, production)
NODE_ENV=development
