# @plugin(@varlock/1password-plugin)
# @initOp(token=$OP_TOKEN, allowAppAuth=forEnv(dev))
OP_TOKEN=

# @required @sensitive @type=string
JWT_SECRET=op(op://YourVaultName/JWT/secret)

# @required @sensitive @type=string @startsWith=postgresql://
DATABASE_URL=op(op://YourVaultName/Database/url)

# @type=number @default=3000
PORT=

# @type=string @default=development @enum=development,staging,production
NODE_ENV=
